<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Add Group (Many to Many)</title>
    <span th:include="layout::bootstrap"></span>
</head>

<body>
<div th:include="layout::topPage"></div>

<div class="container">
<h3>Add a Group (Many to Many)</h3>

    <form action="/createGroupManyToMany">
        <label>Group Name*</label>
        <br></br>
        <input type="text" name="groupName"></input>
        <br></br>
        <br></br>
        <span th:if="${!#lists.isEmpty(model.users)}">
            <label>Users</label><br></br>
            <div th:each="user : ${model.users}">
                <input type="checkbox" th:name="userVal" th:value="${user.id}"/>
                <label th:text="${user.name}"/>
            </div>
        </span>
        <br></br>
        <br></br>
        <input class="btn btn-secondary" type="submit" value="Add Group"></input>
    </form>

</div>
</body>

</html>